<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findit.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.findit.android.activity.CreateFurniture"
            android:label="@string/title_activity_create_furniture" >
        </activity>
        <activity
            android:name="com.findit.android.activity.SetFurnitureProperties"
            android:label="@string/title_activity_set_furniture_properties" >
        </activity>
        <activity
   			android:name="com.findit.android.activity.profile.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.findit.android.activity.profile.SignUp"
            android:label="@string/title_activity_sign_up" />
        <activity
            android:name="com.findit.android.dao.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
   			android:name="com.findit.android.activity.ViewFurniture"
            android:label="@string/title_activity_view_furniture"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.findit.android.activity.ViewDrawer"
            android:label="@string/title_activity_view_drawer" />
    </application>

</manifest>